<div class="jumbotron vertical-center horizontal-center jumbotron-index" >
    <h1>eLIBRARY</h1>
    <p>The biggest online library in the world.</p>
    <button class="btn">Sign up!</button>
</div>
<div class="container text-center">
  <h2>WHAT DO WE OFFER?</h2>
  <div class="row">
    <div class="col-sm-3">
      <p><strong>MOVIES</strong></p><br>
      <%= link_to (image_tag '33cnl9s.png', :alt => "Movies", :class => "img-circle icon"), movies_search_path %>
    </div>
    <div class="col-sm-3">
      <p><strong>TV SHOWS</strong></p><br>
      <%= link_to (image_tag 'http://www.w3schools.com/bootstrap/bandmember.jpg', :alt => "Movies", :class => "img-circle icon"), tv_shows_search_path %>
    </div>
    <div class="col-sm-3">
      <p><strong>EBOOKS</strong></p><br>
      <%= link_to (image_tag 'http://www.w3schools.com/bootstrap/bandmember.jpg', :alt => "Movies", :class => "img-circle icon"), ebooks_search_path %>
    </div>
    <div class="col-sm-3">
      <p><strong>MAGS</strong></p><br>
      <%= link_to (image_tag 'http://www.w3schools.com/bootstrap/bandmember.jpg', :alt => "Movies", :class => "img-circle icon"), mags_search_path %>
    </div>
  </div>
</div>