<div class="jumbotron vertical-center" >
    <h1>eLIBRARY</h1>
    <p>The biggest online library in the world.</p>
    <button class="btn">Sign up!</button>
</div>
<div class="container-fluid">
  <h1>WHAT DO WE OFFER?</h1>
</div>
