@import "bootstrap-sprockets";
@import "bootstrap";


html, body {
    height:100%;
}

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10 px;
  }
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

.container-signup {
  padding: 40px;
  min-height: 92%;
}

.container-login {
  padding: 40px;
  min-height: 92%;
}

.jumbotron-index {
  text-align: center;
  min-height: 500px;
  background: url("2r5rl6o.png") no-repeat center center;
  background-size: 100%;
  background-position: center bottom;
  letter-spacing: 4px;
  color: #fff;
  label{
    text-align: left;
    letter-spacing: 1px;
    color: #fff;
  }
  h1{
    font-weight: extra-bold;
    margin-bottom: 20px;
    font-size: 9em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  p {
    font-size: 2em;
    margin-bottom: 70px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}

/* typography */

h1, h2, h3, h4, h5, h6, p {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 4px;
}

h2 {
  font-size: 2em;
  letter-spacing: 3px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #333;
}

h3 {
  font-size: 1.1em;
  line-height: 1.7em;
  margin-bottom: 50px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.dropdown-menu {
    margin-bottom: 0;
    background-color: #fff;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

.navbar .nav > li.dropdown.open > ul.dropdown-menu a:hover
{
  color: #333 !important;
  background-color: transparent;
  border-color: #333;
}

.navbar .nav > li.dropdown.open > a
{
  
   background-color: #333;
   border-color: #333;
}

/* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Black buttons with extra padding and without rounded borders */
#jumbotron-button {
  padding: 10px 40px;
  background-color: transparent;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 0;
  transition: .2s;
  font-size: 1.25em;
  width: 150px;
  &:hover {
    background-color: #ffffff;
    color: #333;
  }
  &:focus {
    background-color: transparent;
    color: #ffffff;
    &:hover {
      background-color: #ffffff;
      color: #333;
    }
  }
}

#signup_form_button{
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  background-color: #333;
  color: #ffffff;
  border: 3px solid #333;
  border-radius: 0;
  transition: .2s;
  font-size: 1em;
  width: 150px;
  &:hover {
    background-color: transparent;
    color: #333;
  }
  &:focus {
    background-color: #transparent;
    color: #333;
  }
}

.login-btn {
  margin: auto;
}


#form {
  margin: 0 auto; 
  padding: 30px 60px;
  margin-bottom: 0px;
  margin-top: 40px;
  position:center !important;
  width: 500px;
}

.icon {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
  &:hover {
    border-color: #e6e6e6;
  }
}

.form-group{
  text-align: left;
  label {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
  margin-bottom: 15px;
  /*@include box_sizing;*/
}

input {
  height: auto !important;
}
